<footer>
    <div class="">
        <div>@myDestiny Privet Limited</div>
        <br>
        <div>
           <a href=""><i class="fa-brands fa-linkedin"></i></a> 
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <br>
        <div class="tandc">
            <a href="">privacy</a>
            
            <a href="">terms</a>
        </div>
    </div>
</footer>