<footer>
    <div class="">
        <div>@myDestiny Privet Limited</div>
        <br>
        <div>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <br>
        <div class="tandc">
            <a href="">privacy</a>
            
            <a href="">terms</a>
        </div>
    </div>
</footer>