<footer>
    
        <div >@myDestination Privet Limited</div>
        <br>
        <div class="social_media">
           <a target="_blank" style="color: rgb(36, 58, 182);" href="https://www.linkedin.com/in/sunetra-bar-862796368?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a> 
            <a target="_blank" style="color: rgb(71, 143, 238);" href="https://www.facebook.com/share/1C4FXANf91/"><i class="fa-brands fa-facebook"></i></a>
            <a target="_blank" style="color: rgb(215, 132, 42);" href="https://www.instagram.com/bar_7150?igsh=MWpvd2Q1dnBva2Ixdg=="><i class="fa-brands fa-instagram"></i></a>
            <a target="_blank" style="color: red;" href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <br>
        <div class="tandc">
            <a href="">privacy</a>
            
            <a href="">terms</a>
        </div>
    
</footer>