<div>
    <ul class="nav" style="display: flex; gap: 10px;list-style-type:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/listings">All Listing</a></li>
        <li><a href="/listings/me">My Listing</a></li>
        <li><a href="/myProfile">Profile</a></li>
    </ul>
</div>