
<% layout("/layouts/boilerplate") %>

    <h4>All Listings</h4>
    <form method="GET" action="/listings/new">
         <button>create new listing</button>
    </form>
   
    <ul>
        
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title %></a></li>
        <%}%>

    </ul>
</body>
