<% layout("/layouts/boilerplate") %>
  <div class="newListing">
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <label for="title">Title</label>
        <input class="nonDes" type="text" name="listing[title]" placeholder="enter the place name" required><br>
        <label for="description">Description:</label>
        <input  class="des" name="listing[description]" placeholder="describe about your place" required/><br>
        <label for="image">image_url:</label>
        <input class="nonDes" type="text" name="listing[image]" placeholder="enter image url"><br>
        <label for="price">Price:</label>
        <input class="nonDes" type="number" name="listing[price]" placeholder="enter price"><br>
        <label for="location">Location:</label>
        <input class="nonDes" type="text" name="listing[location]" placeholder="enter location"><br>
        <label for="country">Country:</label>
        <input class="nonDes" type="text" name="listing[country]" placeholder="enter country"><br>
        <button class="btn add">ADD</button>
    </form>
  </div>
   
