body{
    background-color: rgb(232, 245, 245);
     font-family: "Plus Jakarta Sans", sans-serif;

}
.container{
   color: rgb(212, 142, 120);
}
.navbar{
   display: grid;
   grid-template-columns: 1fr 5fr 2fr;
    gap: 5vw;
}
#logo{
   margin-left:5vw;
   color: rgb(238, 114, 77);
   font-family: "Dancing Script" !important;
    font-optical-sizing: auto;
   font-weight: 700;
}
.nav_items{
     display: flex; gap: 5vw;list-style-type:none;
     justify-content: flex-end;
     font-size: 13px;
}

li a{
   text-decoration: none;
}
/*Home Page*/

.btn{
   height: 35px;
   border: none;
   border-radius: 20px;
   background-color: rgb(229, 106, 69);
   color: white;
  
}
.addbtnbox{
 display: flex;
 align-items: center;
 justify-content: center;

}
.bthAddList{
   
   position: absolute;
   top : 20px;
   right: 5vw;
}
.slider-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: rgb(235, 121, 45);
   font-size: 20px;
   font-family:"Dancing Script" !important ;
   margin: 10px;
   background-image: url(https://www.psdstack.com/wp-content/uploads/2019/08/copyright-free-images-750x420.jpg);
   background-position: bottom;
   background-repeat: no-repeat;
   height: 25vh;
   width: 95vw;
   border-radius: 20px;
}

.homeShow{
   display: flex;
   gap: 10px;
   overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

/*All Listing*/
.card img{
   height:30vh;
   width: 30vw;
   border-radius: 20px;
}
.card a{
  text-decoration: none;
  color: rgb(212, 142, 120);
}

.card{
  
   text-align: center;
}
.allListings{
   display:grid;
   grid-template-columns:repeat(3,1fr);
   grid-template-rows: repeat(auto,1fr);
   gap: 25px;
}

/*add new listing*/
.nonDes{
   height: 20px;
   border-radius: 10px;
   margin: 10px;
}
.des{
   height: 40px;
    
   border-radius: 15px;
}
.form{
   text-align: center;
   height: 70vh;
}
.add{
     width: 50px;
     margin-top: 30px;
}
/*edit List*/
.editbtn{
   width: 60px;
}
/*footer*/
footer{
   text-align: center;
}
footer a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}
.social_media{
   display: flex;
   justify-content: center;
   gap: 30px;
}
/*show List*/
.showPage{
   display: grid;
   
   grid-template-columns: 1fr 1fr;
   grid-template-rows:2fr 1fr auto;
   
}
.showDet{
   margin:10px 5vw 10px 5vw;
   grid-area: 1/1/3/2;
}
.showDet img{
    width: 85vw;
    height: 35vh;
    border-radius: 20px;
}
.showDes{
   margin-top: 15vh;
}
.showBtns{
   width: 50vw;
   display: flex;
   justify-content: space-around;
   margin-top: 4vh;
}
.leaveReview{
   grid-area: 3/1/4/3;
   margin-left: 5vw;
}
#comment{
    border-radius: 10px;
    background-color: rgb(241, 223, 218);
    margin-top: 20px;
}
.review{
   margin: 15px;
   padding: 0;
   height: 20vh;
   grid-area: 5/1/7/2;
   
   border-radius:10px;
   width:300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
}
.review p{
   margin: 0;
  
}
.review h5{
   margin: 0;
  
}
.allReviews{
    margin-left: 5vw;
   grid-area: 5/1/6/3;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: repeat(30vh,auto);
  
   
}
.revDelt{
   position: relative;
   bottom: 2vh;
   left: 70px;
}
/*profile*/
.profile{
   height: 70vh;

}

@media screen and (max-width:650px){
   .allListings{
      grid-template-columns:1fr;
   }
   .card img{
    width: 70vw;
    height: 35vh;
   }
.nav_menu{
   display: none;
}
.nav_bar{
   margin-right: 20px;

}

.showPage{
   grid-template-columns: 1fr ;
   grid-template-rows:2fr 1fr auto;
   
}
.showDet{
   margin:0px 5vw 10px 5vw;
   grid-area: 1/1/2/2;
}

.showDes{
   margin-top: 5vh;
   margin-left: 5vw;
   grid-area: 2/1/3/2;
}
.showBtns{
   grid-area: 3/1/4/2;
   margin-left: 10vw;
}
.leaveReview{
   grid-area: 4/1/5/2;
   margin-left: 5vw;
}

.review{
   margin: 10px;
   
}

.allReviews{
    margin-left: 5vw;
    grid-area: 6/1/7/2;
   display:flex;
   overflow:scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
   
}

}

@media screen and (min-width:650px) and (max-width:800px){
   .allListings{
      grid-template-columns:repeat(2,1fr);
   }
    .card img{
    width: 42vw;
    height: 35vh;
   }
   .nav_bar{
   display: none;
}
  .showDet img{
    width: 50vw;
    height: 35vh;
}
.showPage{
   grid-template-columns: 1fr;
   grid-template-rows:2fr 1fr auto;
   
}
.showDet{
   margin:0px 5vw 10px 5vw;
   
}

.showDes{
   margin-top: 5vh;
   margin-left: 5vw;
}
.showBtns{
   
   margin-left: 10vw;
}
.leaveReview{
   
   margin-left: 5vw;
}

.review{
   margin: 10px;
   
}

.allReviews{
    margin-left: 5vw;

   display:flex;
   overflow:scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
   
}
  
}
@media screen and (min-width:800px) and (max-width:1200px){
   .nav_bar{
      display: none;
   }
    .showDet img{
    width: 35vw;
    height: 40vh;
}
.slider-container{
  
   background-image: url(https://www.psdstack.com/wp-content/uploads/2019/08/copyright-free-images-750x420.jpg);
   background-position: bottom;
   background-size: 95vw 25vh ;
   background-repeat: no-repeat;
   
}
}
   
@media screen and (min-width:1200px) {
   .allListings{
      grid-template-columns:repeat(4,1fr);
   }
    .card img{
    width: 25vw;
    height: 30vh;
   }
   .nav_bar{
   display: none;
   
}
   .showDet img{
    width: 30vw;
    height: 40vh;
}
.slider-container{
  
   background-image: url(https://www.psdstack.com/wp-content/uploads/2019/08/copyright-free-images-750x420.jpg);
   background-position: bottom;
   background-size: 95vw 25vh ;
   background-repeat: no-repeat;
   
}
}