<% layout("/layouts/boilerplate") %>

<div class="form">
    <h1 style=" font-family: Dancing Script">Log in on myDestiny</h1>
    
    <div>
        <form action="/login" method="POST">
                 <div>
                    <label for="username">Username:</label>
                    <input class="nonDes" id="username" type="text" name="username" required>
                 </div>
                 
                
                    <label for="password">Password:</label>
                    <input class="nonDes" id="password" type="text" name="password" required>
                 </div>
                 <br>
                 <button class="btn">Login</button>
        </form>
    </div>
</div>