<% layout("/layouts/boilerplate") %>

<div>
    <h1>Log in on myDestiny</h1>
    
    <div>
        <form action="/login" method="POST">
                 <div>
                    <label for="username">username</label>
                    <input id="username" type="text" name="username" required>
                 </div>
                 <br>
                
                    <label for="password">Password</label>
                    <input id="password" type="text" name="password" required>
                 </div>
                 <br>
                 <button>Login</button>
        </form>
    </div>
</div>