<% layout("/layouts/boilerplate") %>

<div class="form">

    <h1 style="font-family: Dancing Script">SignUp on myDestiny</h1>
    
    <div>
        <form action="/signup" method="POST">
                 <div>
                    <label for="username">username</label>
                    <input class="nonDes" id="username" type="text" name="username" required>
                 </div>
                 
                 <div>
                    <label for="email">Email</label>
                    <input class="nonDes" id="email" type="text" name="email" required>
                 </div>
                 
                 <div>
                    <label for="password">Password</label>
                    <input class="nonDes" id="password" type="text" name="password" required>
                 </div>
                 <br>
                 <button class="btn">Sign Up</button>
        </form>
    </div>
</div>