<% layout("/layouts/boilerplate") %>

<div>

    <h1>SignUp on myDestiny</h1>
    
    <div>
        <form action="/signup" method="POST">
                 <div>
                    <label for="username">username</label>
                    <input id="username" type="text" name="username" required>
                 </div>
                 <br>
                 <div>
                    <label for="email">Email</label>
                    <input id="email" type="text" name="email" required>
                 </div>
                 <br>
                 <div>
                    <label for="password">Password</label>
                    <input id="password" type="text" name="password" required>
                 </div>
                 <br>
                 <button>Sign Up</button>
        </form>
    </div>
</div>